@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('./assets/SpaceBackground.svg');
    background-repeat: no-repeat;
    background-size: cover; /* Atur sesuai kebutuhan Anda */
  }

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

  
